@page
@using S2.AspNET.Repetition.Entities
@model S2.AspNet.Repetition.Pages.IndexModel
@{
    ViewData["Title"] = "Forside";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Min første memegenerator</h1>
<div class="wrapper">
    <article>
        <form action="NewMeme" method="get">
            <div class="memeWrapper">

                @{
                    foreach (MemeImage memeImage in Model.MemeImages)
                    {
                        <div class="memeSelector">
                            <img src="@memeImage.Url" alt="@memeImage.AltText" />
                            <input type="radio" name="imageselected" value="@memeImage.Id" />
                        </div>
                    }
                }

            </div>
            <div class="memeSelector textPosition">
                <h2>Tekstposition</h2>
                <label>Top venstre</label>
                <input type="radio" name="textPosition" value="top-left" />
                <label>Top midte</label>
                <input type="radio" name="textPosition" value="top-center" />
                <label>Top højre</label>
                <input type="radio" name="textPosition" value="top-right" />
                <label>Midte</label>
                <input type="radio" name="textPosition" value="centered" />
                <label>Bund venstre</label>
                <input type="radio" name="textPosition" value="bottom-left" />
                <label>Bund midte</label>
                <input type="radio" name="textPosition" value="bottom-center" checked />
                <label>Bund højre</label>
                <input type="radio" name="textPosition" value="bottom-right" />
            </div>
            <div class="memeSelector memeName">
                <h2>Navn</h2>
                <input type="text" size="50" name="memeName" placeholder="Navngiv din meme" />
            </div>
            <div class="memeSelector memeText">
                <h2>Tekst</h2>
                <input type="text" size="50" name="memeText" placeholder="Skriv din meme tekst" />
                <br />
                <input type="submit" value="Generer meme" />
            </div>
        </form>
    </article>
</div>